@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #C2CFFF;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #C2CFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.box {
    width: 900px;
    height: 600px;
    background: #8FA0E1;
    border: 3px solid black;
    border-radius: ;
    }

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 16rem;
}

.legend{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 2rem;
    font-size: 38px;
    font-family: "Lexend", sans-serif;  
    font-weight: 900;
    text-transform: uppercase;
}   

.nome{
    position: relative;
    bottom: 11rem;
    font-size: 30px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;

}

#nome{
    position: relative;
    left: 3rem;
}

.input1{
    padding: 15px 10rem;
}

input{
    border: 3px solid;
    border-radius: 5rem;
    position: relative;
    font-size: 25px;
    font-family: "Lexend";
}

.telefone{
    position: relative;
    bottom: 9rem;
    font-size: 30px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;

}

#telefone{
    position: relative;
    left: 30px;
}

.email{
    position: relative;
    bottom: 6rem;
    font-size: 30px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    

}

#email{
    position: relative;
    left: 50px;
}

button{
   width: 500px;
   height: 100px;
   position: relative;
   bottom: 2em;
   font-size: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    transition: all 1s;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #5c70c2;
    transform: scale(1.2);
    font-size: 22px;
    poin
}
